@import "tailwindcss";

@import '@fontsource-variable/inter';

@custom-variant dark (&:where(.dark, .dark *, [data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans: "Inter Variable", sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

[data-theme='dark'] body {
  @apply bg-slate-900 text-slate-100;
}

[data-theme='dark'] .sbdocs-preview {
  @apply bg-slate-900 text-slate-100;
}